---
import GTMHead from "@/components/config/GTMHead.astro";
import Lenis from "@/components/config/lenis.astro";

import {SEO} from "astro-seo";

const {seoData = {}, prefetchInHead = []} = Astro.props;

import {getAssetPath} from "@/lib/utils";

const {title} = seoData;
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{title}</title>
	<link rel="icon" type="image/png" href={getAssetPath("favicon-96x96.png")} sizes="96x96" />
	<link rel="shortcut icon" href={getAssetPath("favicon.ico")} />
	<GTMHead />
	<Lenis />
	<SEO {...seoData} />
	<!-- Preload Font Awesome CSS -->
	<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />

	<!-- Prefetch DNS for external resources -->
	<link rel="dns-prefetch" href="https://fonts.googleapis.com" />
	<link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />

	{prefetchInHead.map((url: string) => <link rel="prefetch" href={url} />)}
</head>
